.tableBorder
{	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 4px}
	
.orderTable
{	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 4px;
	width: 550px;
	height: 720px;
	background-image:url('../pictures/pizza1.jpg');
	}
	
	
	
.totalTable
{	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 4px;
	margin-left: 70px;
	background-image:url('../pictures/placeorder1a.jpg');
}

.offset
{	margin-left: 70px}


.deliveryAddress
{	visibility: visible}



.pizzaBackground
{
	/*padding: 4px;
	position: relative;*/
	background-image:url('../pictures/pizza5.jpg');
}


	
